domain_name = "example.com"
content_domain_name = "podcastcontent.example.com"
rss_domain_name = "podcast.example.com"
rss_bucket_name = "podcast-rss-bucket-name-example"
log_bucket_name = "podcast-logs-example"
content_bucket_name = "podcast-content-bucket-name-example"
podcast_name = "Podcast example name here"
podcast_subtitle = "Podcast subtitle text here"
podcast_description = "The description of the podcast goes here"
podcast_author = "Author example name here"
podcast_email = "example@example.com"
podcast_language = "en-us"
podcast_type = "episodic"
category_one = "Technology"
category_two = "Technology"
subcategory_one = "Technology"
subcategory_two = "Technology"
copyright_text = "© Copyright text here"
explicit = "false"
podcast_file_name = "podcast.xml"